service: metadefender
api: 
  type: cloud
  params:
    apikey: null
  url: 
    core: https://1.2.3.4:8008
    cloud: https://api.metadefender.com/v4
server: 
  port: 3000
  host: "0.0.0.0"
  api_version: /api/v1
https:
  load_local: false
  crt: /tmp/certs/server.crt
  key: /tmp/certs/server.key
logging:
  enabled: true
  level: INFO
  logfile: ./app.log
  interval: 24
  backup_count: 30
  kafka:
    enabled: false
    topic: ''
    client_id: ''
    server: ''
    ssl: true
    maximum_message_size: 900000
  sns:
    enabled: false
    arn: ''
    region: ''
allowlist:
  enabled: true
  db_table_name: 'dynamodb_menlo'
  aws_profile: 'default'
timeout:
  submit:
    enabled: false
    value: null
  sanitized:
    enabled: false
    value: null
  result:
    enabled: false
    value: null
  check:
    enabled: false
    value: null
fallbackToOriginal: false
headers_engines_metadata: '{"extraction":{"charset":"SJIS"},"compression":{"charset":"UTF-8"}}'
headers_scan_with: ""
