aiocontextvars==0.2.2
boto3==1.40.59
certifi==2025.10.5
h11==0.16.0
httpx==0.28.1
kafka-python==2.2.15
python-dotenv==1.2.1
pyyaml==6.0.3
sentry-sdk==3.0.0a7
tornado==6.5.2
typing==3.7.4.3
urllib3==2.5.0
pytest==8.4.2
pytest-cov==7.0.0
uvicorn==0.37.0
fastapi==0.120.0
python-multipart==0.0.20